<div class="card">
  <%= image_tag "projects/proyecto1.png", class: "card-img-top", alt: "Proyecto 1" %>
  <div class="card-body">
    <h5 class="card-title">Prueba</h5>
    <p class="card-text">Tarea realizada en TD, para aprender github</p>
    <%= link_to "Ver m치s", "#", class: "btn btn-primary" %>
  </div>
</div>

<div class="card">
  <%= image_tag "projects/proyecto2.png", class: "card-img-top", alt: "Proyecto 2" %>
  <div class="card-body">
    <h5 class="card-title">Desafio Branching</h5>
    <p class="card-text">Tarea realizada en TD, para aprender CSS</p>
    <%= link_to "Ver m치s", "#", class: "btn btn-primary" %>
  </div>
</div>

<div class="card">
  <%= image_tag "projects/proyecto3.png", class: "card-img-top", alt: "Proyecto 3" %>
  <div class="card-body">
    <h5 class="card-title">Viajes Chile</h5>
    <p class="card-text">Tarea realizada en TD, para crear p치gina web</p>
    <%= link_to "Ver m치s", "#", class: "btn btn-primary" %>
  </div>
</div>

